@import 'styles/common';
@import 'styles/variables';

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-stack;

  .boundary {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
  }

  .header {
    background-color: $header-bg-color;
    color: $light-text-color;
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 20px;

    /* TODO: WTF? */
    .buttons,
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        cursor: pointer;
      }
    }
  }

  .content {
    display: flex;
    flex: 1;
    position: relative;

    .render {
      padding: 10px;
    }
  }

  .footer {
    background-color: $footer-bg-color;
    color: $light-text-color;
    text-align: center;
    font-size: 12px;
  }
}

.Resizer {
  background: #A7A37E;
}

.Pane {
  overflow: auto;
}

.Resizer.vertical {
  width: 5px;
  cursor: col-resize;
}

.Resizer.horizontal {
  height: 5px;
  cursor: row-resize;
  width: 100%;
}
